<tr>
	<td style="width:40%" data-label="Name">
		<div title="Name">
			<a href="/apexclass/{{Id}}">{{Name}}</a>
		</div>
	</td>
	<td data-label="Namespace Prefix">
		<div class="slds-truncate" title="Namespace Prefix">{{NamespacePrefix}}</div>
  	</td>
  	<td data-label="Status">
    	<div class="slds-truncate" title="Status">{{Status}}</div>
  	</td>
  	<td class="slds-cell-shrink" data-label="ApiVersion">
    	<div class="slds-truncate" title="ApiVersion">{{ApiVersion}}</div>
  	</td>
</tr>