{{> header.hbs}}

<div class="slds-align--absolute-center">
	<a href='/apex'><button id="production" class="slds-button slds-button--neutral">Apex Classes</button></a>
</div>
<div class="slds-align--absolute-center">

	Access Token - 	{{access_token}} <br />
	Signature - {{signature}} <br />
	Scope - {{scope}} <br />
	ID URL - {{id}} <br />
	Token Type - {{token_type}} <br />
	Issued At - {{issued_at}} <br />

	Timezone - {{timezone}} <br />
	Last Modified Date - {{last_modified_date}} <br />
	Addr_zip - {{addr_zip}}<br />
	Language - {{language}}<br />
	Locale - {{locale}}<br />
	Photos.Thumbnail - {{photos.thumbnail}}<br />
	Photos.Picture - {{photos.picture}}<br />
	Addr_street - {{addr_street}}<br />
	URLS.REST - {{urls.rest}}<br />
	URLS.METADATA - {{urls.metadata}}<br />
	URLS.enterprise - {{urls.enterprise}}<br />
	URLS.query - {{urls.query}}<br />
	URLS.profile - {{urls.profile}}<br />
	URLS.groups - {{urls.groups}}<br />
	URLS.users - {{urls.users}}<br />
	URLS.search - {{urls.search}}<br />
	URLS.partner - {{urls.partner}}<br />
	URLS.feeds - {{urls.feeds}}<br />
	URLS.sobjects - {{urls.sobjects}}<br />
	URLS.feed_items - {{urls.feed_items}}<br />
	URLS.recent - {{urls.recent}}<br />
	User Type - {{user_type}}<br />
	Mobile Phone - {{mobile_phone}}<br />
	ID - {{id}}<br />
	First Name - {{first_name}}<br />
	Email - {{email}}<br />
	Email Verified - {{email_verified}}<br />
	UTC Offset - {{utcOffset}}<br />
	Last Name - {{last_name}}<br />
	Active - {{active}}<br />
	Display Name - {{display_name}}<br />
	Addr_state - {{addr_state}}<br />
	Asserted User - {{asserted_user}}<br />
	User ID - {{user_id}}<br />
	Org ID - {{organization_id}}<br />
	Nick Name - {{nick_name}}<br />
	Addr_city - {{addr_city}}<br />
	Mobile Phone Verified - {{mobile_phone_verified}}<br />
	Addr_country - {{addr_country}}<br />
	Username - {{username}}<br />
	Status.createdDate - {{status.created_date}}<br />
	Status.body - {{status.body}}
</div>


{{> footer.hbs}}